/* BASE STYLES */

#about, #work, #contact {
  	height: 500px;
}

/* GRID */

.container {
	width: 100%;
	margin: auto
}

.full-width {
  	width: 1200px;
  	margin: 0 auto;
}

.half-width {
  	width: 600px;
 	float: left;
}

.third-width {
  	width: 400px;
  	float: left;
}

/* HEADER */

header {
    height: 475px;
	background: linear-gradient(#415060, #63798b, #72bdc0, #ffffff);
	width: 100%;
}

header h1 {
  	color: #cacfa5;
	font-family: 'Montserrat', 'Helvetica', 'Arial', serif;
  	font-size: 30px;
	letter-spacing: 5px;
  	padding: 50px 0 65px 50px;
	text-transform: uppercase;
}

nav {
    float: right;
    padding: 60px 25px;
}
nav ul li{
    display: inline-block;
}
nav ul li a {
    color: #cacfa5;
	font-family: 'Montserrat', 'Helvetica', 'Arial', serif;
	font-size: 21px;
	letter-spacing: 3px;
    padding-left: 50px;
	text-transform: uppercase;
    text-decoration: none;
}

header h2 {
    width: 1000px;
    clear: both;
	font-family: 'Pompiere', 'sans-serif';
    font-size: 40px;
    line-height: 54px;
    color: #63798b;
    padding: 140px 0 20px 50px;
}
header h2 span {
	color: white;
	font-family: 'Montserrat', 'Helvetica', 'Arial', serif;
	font-size: 26px;
	font-weight: 500;
	letter-spacing: 7px;
	text-transform: uppercase;	
}

/* ABOUT SECTION */

#about {
	background-color: white;
}
#about .full-width {
  	padding: 100px 0 0 0;
}

#about h2 {
	font-family: 'Montserrat', 'Helvetica', 'Arial', serif;
	font-size: 26px;
	font-weight: 500;
	letter-spacing: 7px;
	text-transform: uppercase;
  	padding-left: 50px;
	color: #e97155;
	margin: auto;
}

#about p {
  	font-size: 20px;
 	color: #415060;
  	line-height: 30px;
  	padding: 0 50px;
}

/* WORK SECTION */

#work {
  background-color: #e9f4f5;
  text-align: center;
}

#work .full-width {
  padding: 70px 0;
}

#work img {
  padding-bottom: 15px;
}

#work h3 {
	color: #e97155;
	font-family: 'Montserrat', 'Helvetica', 'Arial', serif;
	font-size: 21px;
	font-weight: 700;
	letter-spacing: 3px;
	text-transform: uppercase;
  	width: 190px;
  	margin: 0 auto;
}

#work p {
  	color: #415060;
	font-size: 18px;
  	line-height: 30px;
  	padding: 0 50px;
	text-align: left;
}

/* CONTACT SECTION */

#contact {
  background-color: #63798b;
}

#contact .full-width {
  padding: 90px 0;
}

#contact-info {
	padding: 50px 0;
}

#contact img#contact-img {
  margin-left: 25px;
  border: 12px solid #ffffff;
}

#contact h2, #contact #email, #coffee, #socials, #contact ul {
	font-family: 'Montserrat', 'Helvetica', 'Arial', serif;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 0 0 0 80px;
}
#contact h2 span {
  	font-family: 'Pompiere', 'script'; 
  	font-size: 60px;
	margin: 50px 0 0 0;
}
#contact a {
  	text-decoration: none;
  	color: #e9f4f5;
  	font-weight: normal;
}
#contact #socials {
  	margin-top: 30px;
	margin-left: -80px;
}
#contact ul {
    list-style: none;
}
#contact ul li {
     display: inline-block;
}
#contact ul img {
    padding-right: 20px;
}
